<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <!-- <img style="width: 40px;
    border-radius: 50%;" [src]="objetounico.picture" alt="" srcset=""> -->
    <a class="navbar-brand rounded-pill animate  p-3 w-auto" href="#" style="color: #19365c; background-color: #f7de7c; box-shadow: 5px 5px 5px rgba(0,0,0,0.5);"><b>Bienvenido: </b> <span class="animate">{{objetounico.name}}</span></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div> -->
  </div>

  <!-- <div>
    <button (click)="sendDataToBackend()">Enviar datos al backend</button>
  </div> -->
</nav>
<router-outlet></router-outlet>
