<section class="all">
    <section class="photo-profile">
      <img class="img-profile" src="https://freesvg.org/img/abstract-user-flat-4.png">
      <button type="button" class="btn-interest" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        EDITAR INTERESES
      </button>
    </section>
    
    <section class="personal-Information">
      <h1 class="lbl-title">Información Personal</h1>
      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido:</label>
          <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>
        <div class="mb-3">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
          <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
        </div>
        <div class="mb-3">
          <label for="correo" class="form-label">Correo Electrónico:</label>
          <input type="email" class="form-control" id="correo" name="correo" required>
        </div>
        <div class="mb-3">
          <label for="carrera" class="form-label">Carrera:</label>
          <input type="text" class="form-control" id="carrera" name="carrera" required>
        </div>
        <div class="mb-3">
          <label for="genero" class="form-label">Género:</label>
          <select class="form-control" id="genero" name="genero" required>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </form>
  
      <h1 class="address-info">Datos de Domicilio</h1>
      <form>
        <div class="mb-3">
          <label for="pais" class="form-label">País:</label>
          <input type="text" class="form-control" id="pais" name="pais" required>
        </div>
        <div class="mb-3">
          <label for="departamento" class="form-label">Departamento:</label>
          <input type="text" class="form-control" id="departamento" name="departamento" required>
        </div>
        <div class="mb-3">
          <label for="zona" class="form-label">Zona:</label>
          <input type="text" class="form-control" id="zona" name="zona" required>
        </div>
        <div class="mb-3">
        </div>
      </form>
    </section>
</section>
