<section class="all">


  <img class="img-profile" src="https://freesvg.org/img/abstract-user-flat-4.png">

  <!-- <button class="btn-interest">EDITAR INTERESES</button> -->
  <button type="button" class="btn-interest" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    EDITAR INTERESES
  </button>

  <section class="title-seleccionCarrera">
    <h1 class="lbl-title">Selecciona tu carrera de Interes</h1>
  </section>


<select class="boxCarrear" [(ngModel)]="opcionPadre" (change)="onSeleccionarOpcionPadre()">
  <option value="">(Seleccione un Departamanto)</option>
  <option *ngFor="let opcion of opcionPadres" [value]="opcion">{{ opcion }}</option>

</select>

<select class="boxCarrear" [(ngModel)]="opcionHijo" (change)="onSeleccionarOpcionHijo()">
  <option value="">(Seleccione una Carrera)</option>
  <option *ngFor="let opcion of opcionesHijo" [value]="opcion">{{ opcion }}</option>

</select>





  <section class="personal-Information">
    <!-- hacer un formualario, el cual extraera datos de la base de datos
      nombre:                    jose
      apellido:                  pozo
      Fehca de Nac               12:abril:2000
    -->
    <h1 class="lbl-title">Información Personal</h1>


    <div class="container">
      <div class="row">

        <div class="col">
          <mat-icon>account_circle</mat-icon>
          <h2>Nombre: </h2>
          <label class="txt">Marcelo Gabriel</label>
        </div>
        <div class="col">
          <mat-icon>account_circle</mat-icon>
          <h2>Apellido: </h2>
          <label class="txt">Miranda Mollinedo</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-icon>date_range</mat-icon>
          <h2>Fecha de Nacimiento: </h2>
          <label class="txt">2/8/1999</label>
        </div>
        <div class="col">
          <mat-icon> email</mat-icon>
          <h2>Correo Electronico:</h2>
          <label class="txt">marcelo.miranda@ucb.edu.bo</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-icon>work</mat-icon>
          <h2>Carrera:</h2>
          <label class="txt">Ingenieria de Sistemas</label>
        </div>
        <div class="col">
          <mat-icon>accessibility_new</mat-icon>
          <h2>Genero:</h2>
          <label class="txt">Masculino</label>
        </div>
      </div>

    </div>

    <div>
      <button class="btn-edit-personal-info"> EDITAR INFORMACION PERSONAL</button>

    </div>

    <h1 class="lbl-title">DATOS DE DOMICILIO</h1>

    <section class="address">

      <div class="container">
        <div class="row">
          <div class="col">
            <mat-icon>language</mat-icon>
            <h2>Pais:</h2>
            <label class="txt">Bolivia</label>
          </div>
          <div class="col">
            <mat-icon>flag</mat-icon>
            <h2>Departamento:</h2>
            <label class="txt">La Paz</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-icon> location_on</mat-icon>
            <h2>Zona:</h2>
            <label class="txt">Sopocachi</label>
          </div>
          <div class="col">
            <mat-icon>location_city</mat-icon>
            <h2>Dirección:</h2>
            <label class="txt">Av. Saavedra, 6 de agosto Nro 85889</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-icon>subdirectory_arrow_right</mat-icon>
            <h2>Piso:</h2>
            <label class="txt">1</label>
          </div>
          <div class="col">
            <mat-icon> contact_mail</mat-icon>
            <h2>Correo Personal:</h2>
            <label class="txt">cmgm274@gmail.com</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-icon> phone</mat-icon>
            <h2>Teléfono:</h2>
            <label class="txt">123456789</label>
          </div>
          <div class="col">
            <mat-icon> phone</mat-icon>
            <h2>Celular:</h2>
            <label class="txt">123456789</label>
          </div>
        </div>
      </div>

      <div>
        <button class="btn-edit-address-info">EDITAR INFORMACION DOMICILIARIA</button>
      </div>

    </section>
    <h1 class="intereses">INTERESES</h1>
    <div>

    </div>

  </section>
</section>

<div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">Agregar intereses</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <h4>Añadir Categorias</h4>
            <!-- Panel con checklist, en 3 columnas, y 5 filas -->

            <!-- <div class="container">
                <h2>Lista de opciones culturales</h2>
                <hr>

                <form>
                  <div class="form-group" *ngFor="let row of rows">
                    <div class="row">
                      <div class="col">
                        <input type="checkbox" name="{{ row[0] }}" [(ngModel)]="selectedOptions">
                        <label>{{ row[0] }}</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" name="{{ row[1] }}" [(ngModel)]="selectedOptions">
                        <label>{{ row[1] }}</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" name="{{ row[2] }}" [(ngModel)]="selectedOptions">
                        <label>{{ row[2] }}</label>
                      </div>
                    </div>
                  </div>
                </form>

                <hr>

                <button class="btn btn-primary" (click)="submitOptions()">Guardar</button>
              </div> -->

            <div class="container">
              <h2>Lista de Intereses Culturales</h2>
              <hr>

              <form>
                <div class="form-group" *ngFor="let row of rows; let rowIdx = index">
                  <div class="row">
                    <div class="col" *ngFor="let option of row; let optionIdx = index">
                      <input type="checkbox" [checked]="selected[rowIdx][optionIdx]"
                        (change)="onCheckboxChange(rowIdx, optionIdx)">
                      <label>{{ option }}</label>
                    </div>
                  </div>
                </div>
              </form>

              <hr>

              <button class="btn btn-success" (click)="submitOptions()">GUARDAR</button>
              <!-- btn cancel -->

              <button class="btn btn-danger" (click)="submitOptions()">CANCELAR</button>
            </div>


            <!-- <div class="container">
                <h2>Lista de Subintereses </h2>
                <hr> -->
            <!-- <form>
                  <div class="form-group" *ngFor="let row of rows; let rowIdx = index">
                    <div class="row">
                      <div class="col" *ngFor="let option of row; let optionIdx = index">
                        <input type="checkbox"
                               [checked]="selected[rowIdx][optionIdx]"
                               (change)="onCheckboxChange(rowIdx, optionIdx)">
                        <label>{{ option }}</label>
                      </div>
                    </div>
                  </div>
                </form> -->

            <!-- <form>
                  <div class="form-group" *ngFor="let row of rows; let i = index">
                    <div class="row">
                      <div class="col">
                        <input type="radio" name="{{ i }}" [ngModel]="selected[i]" (ngModelChange)="selectedSubInteres[i] " value="{{ row[0] }}">
                        <label>{{ row[0] }}</label>
                      </div>
                      <div class="col">
                        <input type="radio" name="{{ i }}" [ngModel]="selected[i]" (ngModelChange)="selectedSubInteres[i] " value="{{ row[1] }}">
                        <label>{{ row[1] }}</label>
                      </div>
                      <div class="col">
                        <input type="radio" name="{{ i }}" [ngModel]="selected[i]" (ngModelChange)="selectedSubInteres[i] " value="{{ row[2] }}">
                        <label>{{ row[2] }}</label>
                      </div>
                    </div>
                  </div>
                </form> -->

            <hr>

            <!-- <button class="btn btn-success" (click)="submitOptions()">GUARDAR</button> -->
            <!-- btn cancel -->

            <!-- <button class="btn btn-danger" (click)="submitOptions()">CANCELAR</button> -->
            <!-- </div> -->




          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn-btn-primary" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>





<div class="modal_carrears modal-xl fade" id="staticBackdrop_carrears" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">Agregar intereses</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <h4>Añadir Categorias</h4>


            <div class="container">
              <h2>Lista de Intereses Culturales</h2>
              <hr>

              <form>
                <div class="form-group" *ngFor="let row of rows; let rowIdx = index">
                  <div class="row">
                    <div class="col" *ngFor="let option of row; let optionIdx = index">
                      <input type="checkbox" [checked]="selected[rowIdx][optionIdx]"
                        (change)="onCheckboxChange(rowIdx, optionIdx)">
                      <label>{{ option }}</label>
                    </div>
                  </div>
                </div>
              </form>

              <hr>

              <button class="btn btn-success" (click)="submitOptions()">GUARDAR</button>
              <!-- btn cancel -->

              <button class="btn btn-danger" (click)="submitOptions()">CANCELAR</button>
            </div>

            <hr>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn-btn-primary" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>
