<form #modifyPostForm="ngForm" (ngSubmit)="onSubmit(modifyPostForm)" class="my-4">
  <h1 class="text-center">Solicitar Modificación</h1>
  <!--<div class="form-group" style="padding: 25px">
    <label for="title">Título</label>
    <input type="text" id="title" name="title" [(ngModel)]="title" required class="form-control">
  </div>-->
  <div class="form-group" style="padding: 25px">
    <label for="body">Descripción de la modificación</label>
    <textarea style="max-height: 400px" id="body" name="comentario" [(ngModel)]="comentario" required class="form-control"></textarea>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary mx-2" [disabled]="modifyPostForm.invalid">Enviar</button>
    <button type="button" class="btn btn-secondary mx-2" (click)="closeModal()">Cancelar</button>
  </div>
</form>
